
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Inner -->
            <div class="inner">
                <header>
                    <h1><a href="index.html" id="logo">Книжный  магазин "Глобус"</a></h1>
                </header>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li>
                        <a href="/Books/List">Товары</a>
                    </li>
                    <li><a href="/Cart/Index">Корзина</a></li>
                </ul>
            </nav>
        </div>

        <!-- Banner -->
        <section id="banner">
            <header>
                <p>
                    "Глобус"– сеть книжных магазинов, успешно работающих по всей России.
                    А ещё это – крупный интернет-магазин книг. В нём вы можете заказывать книги в любое время 24 часа в сутки.
                    В интернет-магазине «Глобус» вы найдёте книги на любой вкус.
                    <br>
                    Уверены, вам понравится наш книжный интернет-магазин. Добро пожаловать!
                </p>
            </header>
        </section>

    </div>
