@model Order
<nav id="nav">
    <ul>
        <li><a href="/Home/Index">Home</a></li>
        <li>
            <a href="/Books/List">Товары</a>
            <ul>
                <li><a href="/Books/List/Fiction">Художественная литература</a></li>
                <li><a href="/Books/List/Technical_lit">Техническая литература</a></li>
                <li><a href="/Books/List/History">История</a></li>
                <li><a href="/Books/List/Fantastic">Фантастика</a></li>
            </ul>
        </li>
        <li><a href="/Cart/Index">Корзина</a></li>
    </ul>
</nav>

<div class="container-xxl">
    <div class="row m-5 p-5">
        <h3 class="text-center">Оформление заказа</h3>
        <form asp-action="CheckOut" method="post" class="form-horizontal">
            <div class="form-group">
                
                    <label asp-for="Name"></label>
                    <div class="col-sm-5">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-light"></span>
                    </div>
                
            </div>
            <div class="form-group">
                
                <label asp-for="Surname"></label>
                    <div class="col-sm-5">
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-light"></span>
                    </div>
               
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label asp-for="Adress"></label>
                        <input asp-for="Adress" class="form-control" />
                        <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label asp-for="Phone"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label asp-for="Email"></label>
                   
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <input class="btn btn-primary" type="submit" value="Завершить заказ" />
            </div>
        </form>
    </div>
</div>
